@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');
@import './styles/header.css';
@import './styles/main.css';
@import './styles/about.css';
@import './styles/contact.css';
@import './styles/education.css';
@import './styles/experience.css';
@import './styles/expertise.css';
@import './styles/projects.css';
@import './styles/slider.css';
@import './styles/language.css';
@import './styles/footer.css';


:root{
    --purple-color: #5e00aa;
    --light-gray-color: #8a8a8a;
    --gray-color: #4e4e4e;
    --white-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.wrapper{
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}


