.expertise{
    padding: 20px;
}

.expertise__item{
    font-weight: 600;
    font-size: 28px;
    line-height: 26px;
    letter-spacing: 1px;
}

.expertise__info{
    display: flex;
    justify-content: space-between;
}

.expertise__base{
    padding-left: 20px;
}

.expertise__link{
    color: #000000;
    outline: none;
    text-decoration: none;
    transition-duration: 0.5s;
}

.expertise__link:hover{
    color: var(--purple-color, #5e00aa);
}

.expertise__link:active{
    color: #2800db;
}

.expertise__item{
    padding-bottom: 10px;
}