@media screen and (max-width: 960px) {
    .wrapper{
        max-width: 480px;
    }

    .about__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__information{
        padding-top: 20px;
    }

    .contact__info{
        padding-top: 10px;
        padding-bottom: 0;
        align-items: center;
    }

    .contact__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .experience__info{
        padding: 20px 0 0 0;
    }

    .experience__body{
        letter-spacing: 1px;
    }

    .experience__current{
        padding-top: 10px;
    }

    .section__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .education__speciality{
        text-align: center;
    }

    .expertise__info{
        align-items: flex-start;
    }

    .expertise__base{
        padding-left: 0;
        text-align: left;
    }

    .expertise__library{
        text-align: left;
    }

    .project__image{
        max-width: 480px;
        width: 100%;
    }

    .gallery__list{
        width: 320px;
    }

    .gallery__item{
        max-width: 320px;
        width: 100%;
        max-height: 320px;
        height: 100%;
    }

    .gallery__image{
        max-width: 320px;
        width: 100%;
        max-height: 320px;
        height: 100%;
    }

    .thumbnails{
        max-height: 320px;
        height: 100%;
    }

    .thumbnails__image{
        width: 160px;
    }

    .language__info{
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__container{
        text-align: center;
    }

    .footer__info{
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer__column--left{
        padding-right: 0;
    }

    .footer__social{
        justify-content: center;
    }
}